<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="{{ site.url }}" class="navbar-brand">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		
		
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
			{% for item in site.toc %}			
            <li class="nav-item dropdown">
			   {% if item.subfolderitems %}
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ item.title }}<span class="caret"></span></a>
			   {% else %}
			   <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}<span class="caret"></span></a>
			   {% endif %}
              <div class="dropdown-menu" aria-labelledby="download">
			  {% for entry in item.subfolderitems %}
				 <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.page }}</a>
				{% endfor %}      
			  {% endfor %}	
               </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
